.sign-box {
    width: 400px!important;
    
    display: inline-block;
    position: relative;
    text-align: center;
    top: 180px;
    border:none!important;
    background-color:white !important;
    border-radius: 0%!important;
}

.divis2{
    background-color:white;
    width: 30%;    
    height: 100%;
    position: relative;
    left: 70%;
    
}
.sign-box input{
    margin: auto;
    margin-bottom: 10px;
}
.btn-primary{
    text-align: center !important;
    margin: 0 auto!important;
}

.s-btn {
    text-align: center !important;
    margin: 0 auto;
}

.divis {
    background-color:aqua;    ;
    width: 89%;
    max-width: 1400px;
    height: 800px;
    margin: auto;
}
body {
    background-color:whitesmoke;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.form-control{
    border: none;
    border-bottom: 1px solid aqua;

}
